absl-py==0.2.2
astor==0.7.1
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
bhtsne==0.1.9
boto==2.49.0
boto3==1.7.62
botocore==1.10.62
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
cymem==2.0.2
Cython==0.28.4
cytoolz==0.9.0.1
dill==0.2.8.2
docutils==0.14
en-core-web-sm==2.0.0
feedparser==5.2.1
funcy==1.10.3
future==0.16.0
gast==0.2.0
gensim==3.5.0
grpcio==1.13.0
h5py==2.8.0
idna==2.6
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.2
Keras==2.1.6
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.1
mglearn==0.1.6
mlxtend==0.12.0
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
numexpr==2.6.8
numpy==1.15.4
pandas==0.22.0
Pillow==5.1.0
plac==0.9.6
pluggy==0.7.1
preshed==2.0.1
protobuf==3.6.0
py==1.5.4
pyemd==0.5.1
pyLDAvis==2.1.2
pyparsing==2.2.0
pyreadline==2.1
PySAL==1.14.4.post2
pytest==3.7.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
rauth==0.7.3
regex==2018.1.10
requests>=2.20.0
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
smart-open==1.6.0
spacy==2.0.16
tensorboard==1.9.0
tensorflow==1.15.0
termcolor==1.1.0
thinc==6.12.0
toolz==0.9.0
tqdm==4.28.1
ujson==1.35
urllib3==1.22
utils==0.9.0
Werkzeug==0.14.1
wrapt==1.10.11
